:root {
  --primary-color: #fff;
  --secondary-color: #e6732b;
  --background-color: #190548;

  --font-small: 10px;
  --font-medium: 22px;
  --font-large: 36px;
}

.dark-mode {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.light-mode {
  color: var(--background-color);
  background-color: var(--primary-color);
}
